 body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

} 
button{
    background-color: white;
    color: #0d0d0d;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    border: 2px solid greenyellow;
    border-radius: 12px;
    text-align: center;
    
}
button:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
    background-color: #008CBA;
    color: white;
}
.container{
    width: 450px;
    border: 2px solid orange;
    border-radius: 30px;
    height: 200px;
    display: flex;
    margin-bottom: 200px;
   
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.anyTalk{
    color: #008CBA;
    font-size: 30px;
    text-align: center;
    border: 2px dotted lightcoral;
    padding: 10px;
    border-radius: 10px;

}
.fixText{
    color: #0d0d0d;
    font-size: 45px;
    margin-bottom: 30px;

}